body {
 margin: 0;
 padding: 0;
}

.navbar{
  background: #f2f5f5;
  top: 0px;
  height: 115px;
  width: 100%;
  position: absolute;
  font-size: 30px;
  font-family: Arapey;
  display: inline;
}

.navbar li:hover{
  color: darkgrey;
  cursor: pointer;
}

.main-nav{
  text-align: right;
  margin-top: 40px;
}

.dropdown{
  position: relative;
}

.dropdown-content{
  position: absolute;
  padding: 10px 0px 10px 0px;
  top:100%;
  left:0;
  text-align: left;
  display: none;
  width: 100%;
  font-size: 25px;
}

.dropdown-content li{
  width: 100%
}

.dropdown-content li:hover{
  color: black;
  font-weight: bold;
}

.dropdown:hover .dropdown-content {
  display: block;
}


a {
  color: inherit;
  text-decoration: none;
}

li {
  display: inline;
}

.GuyBean-Logo{
  height: 200px;
  width: 200px;
  margin: 0 auto;
  position: absolute;
  display: block;
  top: -45px;
}


.right-nav{
  float:right;
  padding: 0px 30px 0px 0px;
}

/* MAP STYLING */
.Map {
  width: 100%;
  height: 500px;
}

/* SEARCH BAR STYLING */

.search-bar{
	  position: absolute;
    background: #cdd1d1;
    max-width: 550px;
    width: 100%;
    padding: 15px;
    display: flex;
    border-radius: 5px;
    left: 700px;
}

.search-bar .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'arapey';
}

.searchbtn {
    background: #f2f5f5;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}