<!DOCTYPE html>
<html>

<head>
  <title>GuyBean</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/GuyBean/public/javascripts/app.js"></script>
  <link rel='stylesheet' href='/stylesheets/home-style.css' />
</head>

<body>
  <!-- NAVBAR -->
  <div class="navbar">
      <li><a href="#"><img src="/images/GuyBean-Logo.png" class="GuyBean-Logo"></a></li>
        <ul class="main-nav">
            <li class="dropdown"><a href="#">Company</a>
              <ul class="dropdown-content">
                <li><a href="#">About us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </li> &nbsp &nbsp
            <li><a href="#">For Businesses</a> </li>&nbsp &nbsp

            <li class="right-nav"><a href="#">
              <% if (user) { %>
                  <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
              <% } else { %>
                  <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
              <% } %>
            </a>
          </li>
        </ul>
  </div>
 
<!-- THIS IS MY MAP, WHICH IS RIGHT BELOW MY NAVBAR -->


</body>

</html>