<!-- THIS IS THE FOOTER OF THE MAIN PAGE -->
<!-- THIS IS THE FOOTER OF THE MAIN PAGE -->
<!-- THIS IS THE FOOTER OF THE MAIN PAGE -->

<!-- LEFT  FOOTER  -->
<div class="footer">
    <div class="footer-content">
      <div class="footer-section about">
        <h2 class="logo-text">Guy<span>Bean</span></h2>
        <p1>GuyBean is a web based restaurant booking platform offering off-peak hour discounts of up to 50% off</p>
          <div class="contact">
            <span><i class="fas fa-phone"></i> &nbsp; 123-456-7890</span>
            <span><i class="fas fa-envelope"></i> &nbsp; info@guybean.com</span>
          </div>
          <br>
          <div class="socials">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
  
        <!-- MIDDLE FOOTER -->
      <div class="footer-section links">
        <h4>Support</h4>
        <ul>
          <a href="#">
            <li>About Us</li>
          </a>
          <a href="#">
            <li>Careers</li>
          </a>
          <a href="#">
            <li>Contact Us</li>
          </a>
          <a href="#">
            <li>FAQ</li>
          </a>
          <a href="#">
            <li>Terms of Use</li>
          </a>
          <a href="#">
            <li>Privacy Policy</li>
          </a>
        </ul>
      </div>
  
  
      <div class="footer-bottom">
        &copy; GuyBean | Designed by Jireh Lau
      </div>
  </div>
  
  </body>
  
  </html>