<!DOCTYPE html>
<html>

<head>
  <title>GuyBean</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <script type="text/javascript" src="/GuyBean/public/javascripts/app.js"></script>
  <link rel='stylesheet' href='/stylesheets/addRestaurant-style.css' />
</head>

<body>
  <!-- NAVBAR -->
  <div class="navbar">
      <li><a href="/users/loggedin"><img src="/images/GuyBean-Logo.png" class="GuyBean-Logo"></a></li>
        <ul class="main-nav">
            <li class="dropdown"><a href="#">Company</a>
              <ul class="dropdown-content">
                <li><a href="#">About us</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Contact us</a></li>
              </ul>
            </li> &nbsp &nbsp
            <li><a href="/users/addRestaurant">Add Your Restaurant</a> </li>&nbsp
            <li><a href="/users/myRestaurants">My Restaurant</a> </li>&nbsp
        </ul>
 

  <!-- THIS WILL BE THE FORM SECTION  -->
  <!-- THIS WILL BE THE FORM SECTION  -->
  <!-- THIS WILL BE THE FORM SECTION  -->

<h2>Add Your Restaurant</h2>
<div class="form-section">
  <form id="new-form" action="/users/addedRestaurant" method="POST">
    <label>Legal Restaurant Name:</label>
    <input type="text" name="title">
    <label>Incorporation Date:</label>
    <input type="date" name="releaseYear">
    <label>Cuisine Type</label>
    <select name="cuisine">
      <option value="Japanese">Japanese</option>
      <option value="Korean">Korean</option>
      <option value="Chinese">Chinese</option>
      <option value="American">American</option>
      <option value="Indian">Indian</option>
      <option value="Italian">Italian</option>
      <option value="Middle Eastern">Middle Eastern</option>
      <option value="Others">Others</option>
    </select>
    <label>Address:</label>
    <input type="text" name="address">
    <label>Contact Number:</label>
    <input type="tel" name="contactNumber">
    <label>Payment Options:</label>
    <input type="text" name="paymentOptions">
    <label>Input Picture using URL:</label>
    <input type="text" name="pictureURL">
    <label>Information about your restaurant(eg. seats, patio, free parking):</label>
    <input type="text" name="comment">
    <label>Ready to partner within 7 Business days?:</label>
    <input type="checkbox" name="partnerReady" checked>
    <input type="submit" value="Add Restaurant">
  </form>
</div>
</div>











