<!DOCTYPE html>
<html>

<head>
  <title>GuyBean</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">

  <script type="text/javascript" src="/GuyBean/public/javascripts/app.js"></script>
  <link rel='stylesheet' href='/stylesheets/restaurants-style.css' />
</head>

<body>
  <!-- NAVBAR -->
  <div class="navbar">
      <li><a href="/users"><img src="/images/GuyBean-Logo.png" class="GuyBean-Logo"></a></li>
        <ul class="main-nav">
            <li class="dropdown"><a href="#">Company</a>
              <ul class="dropdown-content">
                <li><a href="/users/aboutus">About us</a></li>
                <li><a href="/users/team">Team</a></li>
                <li><a href="/users/contactus">Contact us</a></li>
              </ul>
            </li> &nbsp &nbsp
            <li><a href="/users/forBusinesses">For Businesses</a> </li>&nbsp
        </ul>

  <h1>Sushi One</h1>

<div class="container-below-title">

  <div class="subContainer">
    <div class="image-input"><img src="/images/jap.jpeg" class="image"></div>
  </div>
<div class="subContainer">
      <h2>Menu</h2>
      <p>Promotion cannot be applied with any other in-house promotions. Please refer to the special condition below for more details</p>
      <p><span id="discount">20%</span></p><br>
      <table class="table-menu">
        <tr class="table-titles">
          <th><span id="menu-item">Menu Item</span></th>
          <th>Before</th>
          <th>After</th>
        </tr>
        <tr>
          <td>Spicy Chicken</td>
          <td>$20.00</td>
          <td>$16.00</td>
        </tr>
        <tr>
          <td>Honey Garlic Chicken</td>
          <td>$20.00</td>
          <td>$16.00</td>
        </tr>
        <tr>
          <td>Sweet and Sour Chicken</td>
          <td>$20.00</td>
          <td>$16.00</td>
        </tr>
        <tr>
          <td>Original Chicken</td>
          <td>$20.00</td>
          <td>$16.00</td>
        </tr>
      </table>
      <p>*Menu and pricing are subjecet to change without notice</p>
      <p>**All prices are in CAD and are exclusive to any taxes and service charge unless otherwise indicated under spcial conditions</p>
</div>
</div>

<!-- THIS IS BELOW THE IMAGE AND MENU -->
<div class="container2">
  <div class="subContainer2">
    <div class="sushiOneMap"> <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11525.628351421712!2d-79.4120358!3d43.7644078!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe417983c4c498496!2sSushi%20One!5e0!3m2!1sen!2sca!4v1616010476248!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p></div>
  </div>

    <div class="subContainer2">
      <div class="restaurantInfoSection">
        <h1>second container</h1>
      </div>
    </div>

</div>




</div>

</body>

</html>